{% extends 'index.html' %}

{% block signupContent %}

<div class="container p-3 my-3 border">
    <h3>Create your account</h3>
    <form action="/signup/" method="post">
        {% csrf_token %}

        <input class="form-control" type="text" name="username" id="" placeholder="username"> <br>
        <input class="form-control" type="text" name="first_name" id="" placeholder="first name"> <br>
        <input class="form-control" type="text" name="last_name" id="" placeholder="last name"> <br>
        <input class="form-control" type="email" name="email" id="" placeholder="email"> <br>
        <input class="form-control" type="password" name="password" id="" placeholder="password"> <br>
        <input class="form-control" type="password" name="password2" id="" placeholder="confirm password">
        <br>
        <input class="btn btn-primary" type="submit" value="Signup">
    </form>

    <!-- <a href="/login/">login</a> <br>
    <a href="/">home</a> -->
    <div>
        {% for message in messages %}
        <h3> {{ message }} </h3>
        {% endfor %}
    </div>
</div>

{% endblock %}